openapi: 3.0.0
info:
  title: dabih-api
  version: 1.0-SNAPSHOT
  description: This is the REST api for the DABIH service by TrinnVis.
security:
  - UserSecurity: []
servers:
  - url: 'https://app-api.trinnvis.no/'
tags:
  - name: accounts
    description: >-
      Operations for user to create or log in and to fetch information about
      organizations
  - name: issues-app
    description: Operations for used by the issues app
  - name: ticks
    description: Operations for scheduled tasks
  - name: tokens
    description: Operations for api access by third party applications
  - name: organizations
    description: Operations for top level access to organization
  - name: computers
    description: Operations for organization computers
  - name: constitutionalDocuments
    description: Operations for organization constitutional documents
  - name: contracts
    description: Operations for organization contracts
  - name: documents
    description: Operations for organization documents
  - name: employees
    description: Operations for organization employees
  - name: functions
    description: Operations for organization functions
  - name: guidelines
    description: Operations for organization guidelines
  - name: partners
    description: Operations for organization partners
  - name: reports
    description: Operations for organization reports
  - name: qualityReviews
    description: Operations for organization qualityReviews
  - name: riskAssessments
    description: Operations for organization riskAssessments
  - name: assets
    description: Operations for organization assets
  - name: issues
    description: Operations for organization issues
paths:
  /accounts:
    post:
      tags:
        - accounts
      responses:
        default:
          description: ''
      description: Create account for a new user.
      operationId: resource_AccountsResource_post_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateMessage'
        required: true
  /accounts/index:
    post:
      tags:
        - accounts
      responses:
        default:
          description: ''
      description: Upload index for all the entities in specified organization.
      operationId: resource_AccountsResource_postIndex_POST
  /accounts/login:
    get:
      tags:
        - accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLoginViewModel'
      description: >-
        Creates a jwt link like we send to the user in the emails and redirects
        to that link.
      operationId: resource_AccountsResource_login_GET
      parameters:
        - name: id
          in: query
          description: user organization id
          schema:
            format: int32
            type: integer
        - name: userEmail
          in: query
          description: user email address
          schema:
            type: string
  /accounts/search:
    get:
      tags:
        - accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountEmployeeViewModel'
      description: Fetch details of matching accounts.
      operationId: resource_AccountsResource_search_GET
      parameters:
        - name: q
          in: query
          description: query parameters
          schema:
            type: string
  /accounts/status:
    get:
      tags:
        - accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatusViewModel'
      description: Query account status.
      operationId: resource_AccountsResource_status_GET
  /accounts/token:
    get:
      tags:
        - accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResult'
      operationId: resource_AccountsResource_token_GET
      parameters:
        - name: t
          in: query
          schema:
            type: string
  /accounts/update-template:
    post:
      tags:
        - accounts
      responses:
        default:
          description: ''
      description: Upload index for all the entities in specified organization.
      operationId: resource_AccountsResource_postUpdateTemplate_POST
  '/accounts/{accountEmailOrId}':
    get:
      tags:
        - accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewModel'
      description: >-
        Fetches the list of organizations that the current authenticatedUser has
        access to.
      operationId: resource_AccountsResource_get_GET
    put:
      tags:
        - accounts
      responses:
        default:
          description: ''
      description: Updates the account password.
      operationId: resource_AccountsResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateMessage'
        required: true
    parameters:
      - name: accountEmailOrId
        in: path
        required: true
        schema:
          type: string
        description: >-
          The username of the current authenticatedUser (email) or the numeric
          id of the current users account.
  '/accounts/{accountEmailOrId}/organizations':
    get:
      tags:
        - accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewModel'
      description: >-
        This is the same as the normal get routine except that we return 412
        Preconditions failed instead of 401.
      operationId: resource_AccountsResource_getOrganizations_GET
    parameters:
      - name: accountEmailOrId
        in: path
        required: true
        schema:
          type: string
        description: >-
          The username of the current authenticatedUser (email) or the numeric
          id of the current users account.
  '/accounts/{accountId}':
    delete:
      tags:
        - accounts
      responses:
        default:
          description: ''
      description: This endpoint is used to update account status.
      operationId: resource_AccountsResource_delete_DELETE
      parameters:
        - name: username
          in: query
          description: account status update message
          schema:
            type: string
    parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: account id
  '/accounts/{accountId}/status':
    put:
      tags:
        - accounts
      responses:
        default:
          description: ''
      description: This endpoint is used to update account status.
      operationId: resource_AccountsResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountStatusUpdateMessage'
        required: true
    parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: account id
  '/accounts/{accountId}/user':
    post:
      tags:
        - accounts
      security: []
      responses:
        default:
          description: ''
      operationId: resource_AccountsResource_user_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateMessage'
        required: true
    parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: account id
  '/accounts/{accountId}/invoice':
    post:
      tags:
        - accounts
      responses:
        default:
          description: ''
      operationId: resource_AccountsResource_invoice_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceMessage'
        required: true
    parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: account id
  '/accounts/{accountEmail}/accountStatus':
    get:
      tags:
        - accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
      description: Check if the user already exist or not for specified account email.
      operationId: resource_AccountsResource_accountStatus_GET
    parameters:
      - name: accountEmail
        in: path
        required: true
        schema:
          type: string
        description: The account email
  '/accounts/{userEmail}/passwordRequest':
    post:
      tags:
        - accounts
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
      description: Sends a new password to the users email if it matches a current user.
      operationId: resource_AccountsResource_postPasswordRequest_POST
    parameters:
      - name: userEmail
        in: path
        required: true
        schema:
          type: string
        description: |
          The username of the current user (email)

          Request new user password
  /accounts/feedback:
    post:
      tags:
        - accounts
      responses:
        default:
          description: ''
      description: Send user feedback to admin.
      operationId: resource_AccountsResource_postFeedback_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackMessage'
        required: true
  /issues:
    put:
      tags:
        - issues-app
      responses:
        default:
          description: ''
      description: Create an simple issue to the new system or the old system.
      operationId: resource_IssuesResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssuesRequest'
        required: true
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
  /issues/passwordRequest:
    post:
      tags:
        - issues-app
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageViewModel'
      description: 'Returns password for a user, it works for both new user and old user.'
      operationId: resource_IssuesResource_postPasswordRequest_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRequest'
        required: true
  /issues/organizations:
    get:
      tags:
        - issues-app
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountViewModel'
      description: >-
        Returns organization information for a user, it works for both new user
        and old user.
      operationId: resource_IssuesResource_getOrganizations_GET
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
  /ticks/renewals:
    post:
      tags:
        - ticks
      responses:
        default:
          description: ''
      operationId: resource_TicksResource_postRenewals_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTimeMessage'
        required: true
  /ticks/reschedule:
    post:
      tags:
        - ticks
      responses:
        default:
          description: ''
      description: This endpoint is used to reschedule.
      operationId: resource_TicksResource_reschedule_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTimeMessage'
        required: true
  /ticks/summaries:
    post:
      tags:
        - ticks
      responses:
        default:
          description: ''
      description: This endpoint is used to send summary.
      operationId: resource_TicksResource_summaries_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTimeMessage'
        required: true
  /ticks/update-mail-chimp:
    post:
      tags:
        - ticks
      responses:
        default:
          description: ''
      description: |
        This endpoint is used to copy users from the old system so they

        can log in using the new syste in order to upgrade


        Only old accounts with email ending in @mailinator.
      operationId: resource_TicksResource_transferUsers_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTimeMessage'
        required: true
  /ticks/index-admin-search:
    post:
      tags:
        - ticks
      responses:
        default:
          description: ''
      description: |
        This endpoint is used to copy users from the old system so they

        can log in using the new syste in order to upgrade


        Only old accounts with email ending in @mailinator.
      operationId: resource_TicksResource_transferUsers_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTimeMessage'
        required: true
  /ticks/status:
    post:
      tags:
        - ticks
      responses:
        default:
          description: ''
      description: |
        This endpoint is used to copy users from the old system so they

        can log in using the new syste in order to upgrade


        Only old accounts with email ending in @mailinator.
      operationId: resource_TicksResource_transferUsers_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTimeMessage'
        required: true
  /ticks/reminders:
    post:
      tags:
        - ticks
      responses:
        default:
          description: ''
      description: This endpoint is used to send reminder.
      operationId: resource_TicksResource_reminders_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledTimeMessage'
        required: true
  /organizations:
    post:
      tags:
        - organizations
      responses:
        default:
          description: ''
      description: Create a account for an existing user.
      operationId: resource_OrganizationsResource_post_POST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateMessage'
        required: true
  '/organizations/{organizationId}':
    get:
      tags:
        - organizations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationViewModel'
      description: Get organization for specified organization id.
      operationId: resource_OrganizationResource_get_GET
    put:
      tags:
        - organizations
      responses:
        default:
          description: ''
      description: Update organization for specified organization id.
      operationId: resource_OrganizationResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateMessage'
        required: true
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/viewer/{path+}':
    get:
      tags:
        - organizations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationViewModel'
      description: Proxy for the accusoft file viewer backend.
      operationId: resource_ViewerResource_get_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/computers':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComputerViewModel'
      description: Get all the computers within the specified organization.
      operationId: resource_OrganizationComputerResource_getComputerViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/computers/{entityId}/attachments':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationComputerResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/computers/{entityId}/attachments/{fileName}':
    put:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationComputerResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/computers/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationComputerResource_getAttachment_GET
    delete:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationComputerResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/computers/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationComputerResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/computers/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationComputerResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/computers/{computerId}':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerViewModel'
      description: Get the computer with the specified computer id.
      operationId: resource_OrganizationComputerResource_getComputerViewModel_GET
    put:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: >-
        Update or create computer with the specified computer id, and the search
        index for the computer will also be updated or created.
      operationId: resource_OrganizationComputerResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputerUpdateMessage'
        required: true
    delete:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: >-
        Delete computer with the specified computer id, the search index of the
        computer will also be deleted.
      operationId: resource_OrganizationComputerResource_delete_DELETE
    parameters:
      - name: computerId
        in: path
        required: true
        schema:
          type: string
        description: The existing computer uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments':
    get:
      tags:
        - constitutionalDocuments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConstitutionalDocumentViewModel'
      description: Get all the constitutionalDocuments within the specified organization.
      operationId: >-
        resource_OrganizationConstitutionalDocumentResource_getConstitutionalDocumentViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments/{entityId}/attachments':
    get:
      tags:
        - constitutionalDocuments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationConstitutionalDocumentResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments/{entityId}/attachments/{fileName}':
    put:
      tags:
        - constitutionalDocuments
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationConstitutionalDocumentResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - constitutionalDocuments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationConstitutionalDocumentResource_getAttachment_GET
    delete:
      tags:
        - constitutionalDocuments
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: >-
        resource_OrganizationConstitutionalDocumentResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - constitutionalDocuments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: >-
        resource_OrganizationConstitutionalDocumentResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - constitutionalDocuments
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationConstitutionalDocumentResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments/{constitutionalDocumentId}':
    get:
      tags:
        - constitutionalDocuments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstitutionalDocumentViewModel'
      description: >-
        Get the constitutionalDocument with the specified constitutionalDocument
        id.
      operationId: >-
        resource_OrganizationConstitutionalDocumentResource_getConstitutionalDocumentViewModel_GET
    put:
      tags:
        - constitutionalDocuments
      responses:
        default:
          description: ''
      description: >
        Update or create constitutionalDocument with the specified
        constitutionalDocument id, the relate partners, employees and pages for
        the constitutionalDocument will also be updated or created,


        and the search index for the constitutionalDocument will also be updated
        or created.
      operationId: resource_OrganizationConstitutionalDocumentResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConstitutionalDocumentUpdateMessage'
        required: true
    delete:
      tags:
        - constitutionalDocuments
      responses:
        default:
          description: ''
      description: >-
        Delete constitutionalDocument with the specified constitutionalDocument
        id, the search index of the constitutionalDocument will also be deleted.
      operationId: resource_OrganizationConstitutionalDocumentResource_delete_DELETE
    parameters:
      - name: constitutionalDocumentId
        in: path
        required: true
        schema:
          type: string
        description: The existing constitutionalDocument uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/constitutionalDocuments/{constitutionalDocumentId}/revisions':
    get:
      tags:
        - constitutionalDocuments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevisionViewModel'
      operationId: resource_OrganizationConstitutionalDocumentResource_getRevisions_GET
    parameters:
      - name: constitutionalDocumentId
        in: path
        required: true
        schema:
          type: string
        description: The existing constitutionalDocument uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts':
    get:
      tags:
        - contracts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractViewModel'
      description: Get all the contracts within the specified organization.
      operationId: resource_OrganizationContractResource_getContractViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts/{entityId}/attachments':
    get:
      tags:
        - contracts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationContractResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts/{entityId}/attachments/{fileName}':
    put:
      tags:
        - contracts
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationContractResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - contracts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationContractResource_getAttachment_GET
    delete:
      tags:
        - contracts
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationContractResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - contracts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationContractResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - contracts
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationContractResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts/{contractId}':
    get:
      tags:
        - contracts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractViewModel'
      description: Get the contract with the specified contract id.
      operationId: resource_OrganizationContractResource_getContractViewModel_GET
    put:
      tags:
        - contracts
      responses:
        default:
          description: ''
      description: >
        Update or create contract with the specified contract id, the relate
        partners, employees and pages for the contract will also be updated or
        created,


        and the search index for the contract will also be updated or created.
      operationId: resource_OrganizationContractResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUpdateMessage'
        required: true
    delete:
      tags:
        - contracts
      responses:
        default:
          description: ''
      description: >-
        Delete contract with the specified contract id, the search index of the
        contract will also be deleted.
      operationId: resource_OrganizationContractResource_delete_DELETE
    parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
        description: The existing contract uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/contracts/{contractId}/revisions':
    get:
      tags:
        - contracts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevisionViewModel'
      operationId: resource_OrganizationContractResource_getRevisions_GET
    parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
        description: The existing contract uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents':
    get:
      tags:
        - documents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentViewModel'
      description: Get all the documents within the specified organization.
      operationId: resource_OrganizationDocumentResource_getDocumentViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents/{entityId}/attachments':
    get:
      tags:
        - documents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationDocumentResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents/{entityId}/attachments/{fileName}':
    put:
      tags:
        - documents
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationDocumentResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - documents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationDocumentResource_getAttachment_GET
    delete:
      tags:
        - documents
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationDocumentResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - documents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationDocumentResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - documents
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationDocumentResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents/{documentId}':
    get:
      tags:
        - documents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentViewModel'
      description: Get the document with the specified document id.
      operationId: resource_OrganizationDocumentResource_getDocumentViewModel_GET
    put:
      tags:
        - documents
      responses:
        default:
          description: ''
      description: >-
        Update or create document with the specified document id, and the search
        index for the document will also be updated or created.
      operationId: resource_OrganizationDocumentResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateMessage'
        required: true
    delete:
      tags:
        - documents
      responses:
        default:
          description: ''
      description: >-
        Delete document with the specified document id, the search index of the
        document will also be deleted.
      operationId: resource_OrganizationDocumentResource_delete_DELETE
    parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        description: The existing document uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/documents/{documentId}/revisions':
    get:
      tags:
        - documents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevisionViewModel'
      operationId: resource_OrganizationDocumentResource_getRevisions_GET
    parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        description: The existing document uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/employees':
    get:
      tags:
        - employees
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmployeeViewModel'
      description: Get all employees for specified organization.
      operationId: resource_OrganizationEmployeeResource_getEmployeeViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/employees/{entityId}/attachments':
    get:
      tags:
        - employees
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationEmployeeResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/employees/{entityId}/attachments/{fileName}':
    put:
      tags:
        - employees
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationEmployeeResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/employees/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - employees
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationEmployeeResource_getAttachment_GET
    delete:
      tags:
        - employees
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationEmployeeResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/employees/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - employees
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationEmployeeResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/employees/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - employees
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationEmployeeResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/employees/{employeeId}':
    get:
      tags:
        - employees
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeViewModel'
      description: Get employee for specified employee id within specified organization.
      operationId: resource_OrganizationEmployeeResource_getEmployeeViewModel_GET
    put:
      tags:
        - employees
      responses:
        default:
          description: ''
      description: >-
        Update or create employee with the specified employee id, and the search
        index for the employee will also be updated or created.
      operationId: resource_OrganizationEmployeeResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateMessage'
        required: true
    delete:
      tags:
        - employees
      responses:
        default:
          description: ''
      description: Delete employee for specified employee id.
      operationId: resource_OrganizationEmployeeResource_delete_DELETE
    parameters:
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
        description: The employee uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/externalConnections':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalConnectionViewModel'
      description: Get all the external connections within the specified organization.
      operationId: >-
        resource_OrganizationExternalConnectionResource_getExternalConnectionViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/externalConnections/{entityId}/attachments':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationExternalConnectionResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/externalConnections/{entityId}/attachments/{fileName}':
    put:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationExternalConnectionResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/externalConnections/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationExternalConnectionResource_getAttachment_GET
    delete:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationExternalConnectionResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/externalConnections/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationExternalConnectionResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/externalConnections/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationExternalConnectionResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/externalConnections/{externalConnectionId}':
    get:
      tags:
        - computers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalConnectionViewModel'
      description: Get the external connection with the specified external connection id.
      operationId: >-
        resource_OrganizationExternalConnectionResource_getExternalConnectionViewModel_GET
    put:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: >-
        Update or create external connection with the specified external
        connection id, and the search index for the external connection will
        also be updated or created.
      operationId: resource_OrganizationExternalConnectionResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalConnectionUpdateMessage'
        required: true
    delete:
      tags:
        - computers
      responses:
        default:
          description: ''
      description: >-
        Delete external connection with the specified external connection id,
        the search index of the external connection will also be deleted.
      operationId: resource_OrganizationExternalConnectionResource_delete_DELETE
    parameters:
      - name: externalConnectionId
        in: path
        required: true
        schema:
          type: string
        description: The existing external connection uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FunctionViewModel'
      description: >-
        Get all the functions within the specified organization, employees,
        rotations, pages and tasks also have been included in the function.
      operationId: resource_OrganizationFunctionResource_getFunctionViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionViewModel'
      description: >-
        Get the function with the specified function id, employees, rotations,
        pages and tasks also have been included in the function.
      operationId: resource_OrganizationFunctionResource_getFunctionViewModel_GET
    put:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: >
        Update or create function with the specified function id, the relate
        employees, rotations and pages for the function will also be updated or
        created,


        and the search index for the function will also be updated or created.
      operationId: resource_OrganizationFunctionResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionUpdateMessage'
        required: true
    delete:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: >-
        Delete function with the specified function id, the search index of the
        function will also be deleted.
      operationId: resource_OrganizationFunctionResource_delete_DELETE
    parameters:
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskViewModel'
      description: Get all the tasks within the specified organization and function.
      operationId: resource_OrganizationFunctionTaskResource_getFunctionTaskViewModels_GET
    parameters:
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{entityId}/attachments':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationFunctionTaskResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{entityId}/attachments/{fileName}':
    put:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationFunctionTaskResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationFunctionTaskResource_getAttachment_GET
    delete:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationFunctionTaskResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationFunctionTaskResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationFunctionTaskResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{taskId}':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskViewModel'
      description: Get the task with the specified task id.
      operationId: resource_OrganizationFunctionTaskResource_getTaskViewModel_GET
    put:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: >
        Update or create task with the specified task id, the relate schedules
        and pages for the task will also be updated or created,


        and the search index for the task will also be updated or created.
      operationId: resource_OrganizationFunctionTaskResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionTaskUpdateMessage'
        required: true
    delete:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: >-
        Delete task with the specified task id, the search index of the task
        will also be deleted.
      operationId: resource_OrganizationFunctionTaskResource_delete_DELETE
    parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
        description: The existing task uuid
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{taskId}/revisions':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevisionViewModel'
      operationId: resource_OrganizationFunctionTaskResource_getRevisions_GET
    parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
        description: The existing task uuid
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/tasks/{taskId}/done':
    post:
      tags:
        - functions
      responses:
        default:
          description: ''
      operationId: resource_OrganizationFunctionTaskResource_done_POST
    parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
        description: The existing task uuid
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{functionId}/revisions':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevisionViewModel'
      operationId: resource_OrganizationFunctionResource_getRevisions_GET
    parameters:
      - name: functionId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{entityId}/attachments':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationFunctionResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{entityId}/attachments/{fileName}':
    put:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationFunctionResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationFunctionResource_getAttachment_GET
    delete:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationFunctionResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - functions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationFunctionResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationFunctionResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/functions/postpone-tasks':
    post:
      tags:
        - functions
      responses:
        default:
          description: ''
      description: Reschedule tasks.
      operationId: resource_OrganizationFunctionResource_postponeTasks_POST
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines':
    get:
      tags:
        - guidelines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuidelineViewModel'
      description: Get all the guideline within the specified organization.
      operationId: resource_OrganizationGuidelineResource_getGuidelineViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines/{entityId}/attachments':
    get:
      tags:
        - guidelines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationGuidelineResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines/{entityId}/attachments/{fileName}':
    put:
      tags:
        - guidelines
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationGuidelineResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - guidelines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationGuidelineResource_getAttachment_GET
    delete:
      tags:
        - guidelines
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationGuidelineResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - guidelines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationGuidelineResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - guidelines
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationGuidelineResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines/{guidelineId}':
    get:
      tags:
        - guidelines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuidelineViewModel'
      description: Get the guideline with the specified guideline id.
      operationId: resource_OrganizationGuidelineResource_getGuidelineViewModel_GET
    put:
      tags:
        - guidelines
      responses:
        default:
          description: ''
      description: >-
        Update or create guideline with the specified guideline id, and the
        search index for the guideline will also be updated or created.
      operationId: resource_OrganizationGuidelineResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuidelineUpdateMessage'
        required: true
    delete:
      tags:
        - guidelines
      responses:
        default:
          description: ''
      description: >-
        Delete guideline with the specified guideline id, the search index of
        the guideline will also be deleted.
      operationId: resource_OrganizationGuidelineResource_delete_DELETE
    parameters:
      - name: guidelineId
        in: path
        required: true
        schema:
          type: string
        description: The existing guideline uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/guidelines/{guidelineId}/revisions':
    get:
      tags:
        - guidelines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevisionViewModel'
      operationId: resource_OrganizationGuidelineResource_getRevisions_GET
    parameters:
      - name: guidelineId
        in: path
        required: true
        schema:
          type: string
        description: The existing guideline uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/issues':
    get:
      tags:
        - issues
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IssueViewModel'
      description: Get all the issues within the specified organization.
      operationId: resource_OrganizationIssueResource_getIssueViewModels_GET
    parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/issues/{entityId}/attachments':
    get:
      tags:
        - issues
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentViewModel'
      description: Get all attachments for specified function.
      operationId: resource_OrganizationIssueResource_getAttachments_GET
    parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/issues/{entityId}/attachments/{fileName}':
    put:
      tags:
        - issues
      responses:
        default:
          description: ''
      description: Upload attachments for specified function.
      operationId: resource_OrganizationIssueResource_putAttachment_PUT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Upload file stream
                  type: string
        required: true
      parameters:
        - name: Content-Length
          in: header
          schema:
            type: string
    parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
        description: The upload file name
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/issues/{entityId}/attachments/{attachmentUuid}':
    get:
      tags:
        - issues
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for specified function.
      operationId: resource_OrganizationIssueResource_getAttachment_GET
    delete:
      tags:
        - issues
      responses:
        default:
          description: ''
      description: Delete specified attachment for specified function.
      operationId: resource_OrganizationIssueResource_deleteAttachment_DELETE
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/issues/{entityId}/attachments/{attachmentUuid}/session':
    get:
      tags:
        - issues
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewModel'
      description: Download specified attachment for viewing.
      operationId: resource_OrganizationIssueResource_getAttachmentSession_GET
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/issues/{entityId}/attachments/{attachmentUuid}/properties':
    put:
      tags:
        - issues
      responses:
        default:
          description: ''
      description: update attachment file name.
      operationId: resource_OrganizationIssueResource_updateAttachment_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentPropertiesUpdateMessage'
        required: true
    parameters:
      - name: attachmentUuid
        in: path
        required: true
        schema:
          type: string
        description: The existing attachment uuid to be download
      - name: entityId
        in: path
        required: true
        schema:
          type: string
        description: The existing function uuid.
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
  '/organizations/{organizationId}/issues/{issueId}':
    get:
      tags:
        - issues
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueViewModel'
      description: Get the issue with the specified issue id.
      operationId: resource_OrganizationIssueResource_getIssueViewModel_GET
    put:
      tags:
        - issues
      responses:
        default:
          description: ''
      description: Update or create issue with the specified issue id.
      operationId: resource_OrganizationIssueResource_put_PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueUpdateMessage'
        required: true
    delete:
      tags:
        - issues
      responses:
        default:
          description: ''
      description: >-
        Delete issue with the specified issue id, the search index of the issue
        will also be deleted.
      operationId: resource_OrganizationIssueResource_delete_DELETE
    parameters:
      - name: issueId
        in: path
        required: true
        schema:
          type: string
        description: The existing issue uuid
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: The organization id
[...]
